<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Disaster Recovery Application</title>
		<link rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
			
		  
</head>
<body>
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="#" th:href="@{/login}">Login</a>
				<a class="navbar-brand" href="#" th:href="@{/login?logout}">Logout</a>
				<a class="navbar-brand" href="#" th:href="@{/registration}">Register</a>
				<a class="navbar-brand" href="#" th:href="@{/submit_timecard}">Submit Timecard</a>
				<a class="navbar-brand" href="#" th:href="@{/view_timecard}">View Timecard</a>
				<a class="navbar-brand">(Admin Only)</a>
				<a class="navbar-brand" href="#" th:href="@{/manage_timecard}">Timecards</a>
				<a class="navbar-brand" href="#" th:href="@{/jobs}">Jobs</a>
				<a class="navbar-brand" href="#" th:href="@{/machines}">Machines</a>
			</div>
			<ul class="nav navbar-nav navbar-right">
				<li><a th:href="@{/logout}"><span class="glyphicon glyphicon-user"></span><span
						sec:authentication="name">Username</span>(<span
						sec:authentication="principal.authorities">Roles</span>)</a></li>
			</ul>

		</div>
	</nav>



	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-2 bg-warning" >
				<ul>
					<li><a th:href="@{/jobs}">Job code Management</a></li>
					<li><a th:href="@{/machines}">Machine Management</a></li>
					<li><a th:href="@{/manage_timecard}">Timecard Approval</a></li>
				
				</ul>
			</div>
			
			<div class="col-sm-10" >
				
						<h4>Job Code Management</h2>
			</div>
					
		</div>
			<div class = "row">
					<div class="col-sm-2 bg-warning">
					</div>
					<div class="col-sm-8">
					</div>
					<div class="col-sm-2 bg-warning">
						<h4>
							<a th:href="@{/jobs/add}">Add New Job</a>
						</h4>
					</div>
			</div>
			<div class="row">
				<div class="col-sm-2">
				</div>
				<div class="col-sm-10">
					<table class="table">
						<thead>
							<tr >
								<td class="text-white">Job Code</td>
								<td class="text-white">Description</td>
								<td class="text-white">Hourly Rate</td>
								<td class="text-white">Max Hours Per Day</td>
								<td class="text-white" colspan="2">Action</td>
								
								
							</tr>
						 </thead>
						 <tbody>
							<tr  th:each="job: ${jobs}">
								<td th:text="${job.code}"></td>
								<td th:text="${job.description}"></td>
								<td th:text="${job.hourlyRate}"></td>
								<td th:text="${job.maxHoursPerDay}"></td>
								<td>
									<a th:href="@{/jobs/update/{code}(code=${job.code})}">Edit</a>
								</td>
								<td>
									<a th:href="@{/jobs/delete/{code}(code=${job.code})}">Delete</a>
								</td>
							</tr>
						  </tbody>
					</table>
				</div>
			</div>
		</div>
		
			
			
			
			
		</div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script
		src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>