<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />

<title>Timecard Application - Submit Timecard</title>
</head>
<body>

	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}">Timecard
					Application</a>
			</div>
		</div>
	</nav>

	<br>
	<br>

	<div class="container">

		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<h1>Timecard Submission Form</h1>
				<form th:action="@{/submit_timecard}" th:object="${timecard}"
					method="post">
					<div th:if="${param.error}">
						<div class="alert alert-danger">Invalid timecard info.</div>
					</div>
					<div class="form-group">
						<label for="sitecode">Site Code</label>: <input type="text"
							id="sitecode" th:field="*{sitecode}" class="form-control"
							autofocus="autofocus" placeholder="Site Code" /><br /> <label
							for="contractorname">Contractor Name</label>: <input type="text"
							id="contractorname" th:field="*{contractorname}"
							class="form-control" placeholder="Contractor Name" /><br /> <label
							for="timecarddate">Date</label>: <input type="date" id="date"
							th:field="*{date}" class="form-control" /><br />
					</div>
					<hr />
					<h2>Labor Entry</h2>
					<div class="form-group">
						<label for="laborcode">Labor Code</label>: <input
							th:field="*{laborcode}" id="laborcode" class="form-control"
							placeholder="Labor Code" /><br /> <label for="hrsworked">Hrs.
							Worked</label>: <input th:field="*{hrsworked}" id="hrsworked"
							class="form-control" placeholder="Hrs. Worked" /><br /> <label
							for="labortotal">Total</label>: <input th:field="*{labortotal}"
							id="labortotal" class="form-control" placeholder="$ Total" /><br />
					</div>
					<hr />
					<h2>Machine Entry</h2>
					<div class="form-group">
						<label for="machinecode">Machine Code</label>: <input
							th:field="*{machinecode}" id="machinecode" class="form-control"
							placeholder="Machine Code" /><br /> <label for="hrsused">Hrs.
							Used</label>: <input th:field="*{hrsused}" id="hrsused"
							class="form-control" placeholder="Hrs. Used" /><br /> <label
							for="machinetotal">Total</label>: <input
							th:field="*{machinetotal}" id="machinetotal" class="form-control"
							placeholder="$ Total" /><br />
					</div>
					<div class="form-group">
						<div class="row">
							<div class="col-sm-6 col-sm-offset-3">
								<input type="submit" name="timecard-submit" id="timecard-submit"
									class="form-control btn btn-primary" value="Submit" />
							</div>
						</div>
					</div>
					<div class="form-group">
						<span><a href="/" th:href="@{/view_timecard}">View
								Timecard</a></span>
					</div>
				</form>
			</div>
		</div>


	</div>

	<script type="text/javascript"
		th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
	<script type="text/javascript"
		th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

</body>
</html>